
#content {

  width: 100%;
  margin: 0 auto;
}

#equation {

  display: inline;
}

#equation, #begin, #operation {

  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  border-radius: 3px;
  color: #666;
}

#begin {

  color: white;
  background-color: #52B788;
  border: none;
  box-shadow: 2px 2px 5px #888;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  }
  #begin:hover, #begin:focus {

    box-shadow: 4px 4px 10px #888;
  }

#operation {

  color: white;
  background-color: #52B788;
  font-family: 'Work Sans', sans-serif;
  vertical-align: bottom;
  line-height: 0.75em;
  cursor: pointer;
}

select {

  -webkit-appearance: button;
  -moz-appearance: button;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #888;
}

#x, #y, #opWrap {

  display: inline-block;
  font-size: 1.5em;
  padding: 2%;
  width: auto;
}

#x, #y {

  width: 50%;
  height: 150px;
  font-size: 3em;
  box-shadow: 2px 2px 5px #888;
  background-color: #F0FFF0;
  padding: 3%;
  border-radius: 3px;
}

#xRange, #yRange {
  color: #222;
  font-size: 0.2em;
  margin: -10px;
}

#opWrap {
  width: 50%;
}

aside {
  padding: 5%;
  background-color: #F0FFF0;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #888;
  float: none;
  }

.prompt {
  font-size: 0.6em;
  font-weight: 600;
  float: right;
}

.input {
  float: left;
}

.separator {
  width: 100%;
}

/* input types */

.nud {

  width: 60px;
  height: 30px;
  font-family: inherit;
  font-size: 0.9em;
  text-align: center;
  background-color: inherit;
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666;
  vertical-align: middle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nud:focus {
  outline: none;
  border-bottom-color: #52B788;
  border-bottom-width: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.small-nud {
  width: 25%;
  height: 10%;
  font-size: 0.7em;
}

.radio-list {
  list-style: none;
  text-align: left;
  font-size: 0.4em;
  margin-top: -10px;
  margin-left: -50px;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label span {
  display: inline-block;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: #F0FFF0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type=radio]:checked + label span {
  background-color: #52B788;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  font-size: 0.75em;
  font-family: 'Raleway', sans-serif;
  color: #777;
  /*font-family: 'Work-Sans', sans-serif;*/
}

footer a {
  color: #777;
  text-decoration: none;
  font-weight: 600;
}
